<!-- Recueda no vamos a trabajar usualmente en el appComponent , squi solo vamos a poner cosas globales , cosas de un nivel muy alto en mi aplicacion   -->
<!-- Recuerda que nuestro punto inicial es el app.Component.html  -->



<!-- <app-contador></app-contador>
<app-contador></app-contador> -->  <!-- podemos decir estas etiquetas son instancias de la clase componente => contadorComponent , cada insatncia maneja su estado independiente por supuesto , asi ya tenemos un componente que se encarga de mostarar
                                     un contador  -->

<app-heroe></app-heroe>   <!-- instanciando la clase HeroeComponent despues de importala al modulo principal , hasta el momento constamos de un modulo , por ejemplo si tuvieramos un modulo dentro de /horoes => usualmente lo colocaremos en ese modulo
                                Horoes/modul . en resumen cuando se crea un componente tiene que estar importado en un modulo .  -->
